<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MTNBlog | High Altitude Content to Get You Psyched</title>
    <meta name="description" content="High altitude content to get you psyched! We've got your bouldering, alpine climbing, trad climbing, sport climbing and deep water soloing needs covered." />
    <meta name="keywords" content="climbing,photos,videos,articles,mountain,blog,mtnblog,mountainblog,climbingblog,pictures,mountains,summits,bouldering,sport,trad,traditional,alpine">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="icon" href="<%= static_path(@conn, "/favicon.ico") %>">
    <link rel="mask-icon" href="<%= static_path(@conn, "/favicon.svg") %>">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48240926-2', 'auto');
      ga('send', 'pageview');
    </script>
    
  </head>

  <body>
    <header>
      <a class="logo" href="/">MTNBLOG</a>
      <nav role="navigation">
        <a href="/news">News</a>        
        <a href="/photos">Photos</a>
        <a href="/videos">Videos</a>
      </nav>
    </header>

    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>    
  </body>
</html>
