<div class="home">

  <div class="hero">
    <img src="http://i.imgur.com/uxqFhZj.jpg">
    <img src="http://i.imgur.com/NyjZsPh.jpg"> 
    <img src="http://i.imgur.com/aSTH1Ia.jpg">
    <img src="http://i.imgur.com/ZgjyET2.jpg">
    <img src="http://i.imgur.com/b5zi5ND.jpg">
    <img src="http://i.imgur.com/BoMlMNd.jpg">
    <img src="http://i.imgur.com/f8bJqrE.jpg">
  </div>

  <div class="carousel">
    <img src="http://i.imgur.com/uxqFhZj.jpg">
    <img src="http://i.imgur.com/NyjZsPh.jpg"> 
    <img src="http://i.imgur.com/aSTH1Ia.jpg">
    <img src="http://i.imgur.com/ZgjyET2.jpg">
    <img src="http://i.imgur.com/b5zi5ND.jpg">
    <img src="http://i.imgur.com/BoMlMNd.jpg">
    <img src="http://i.imgur.com/f8bJqrE.jpg">
  </div>

  <div class="filter">
    <div class="filter-sort">
      <span class="active">Top</span>
      <span>Recent</span>
    </div>
    <span>posts from</span>
    <div class="filter-time">
      <span class="active">This Week</span>
      <span>This Month</span>
      <span>This Year</span>
      <span>All Time</span>
    </div>
  </div>

  <div class="posts">
  </div>

</div>
