 .categories {
  padding:10px 0;
  border-bottom:1px solid $grey5;
  position:relative;

  .toggle-categories {
    color: $green1;
    font-weight:bold;
    text-transform:uppercase;
    font-size:12px;
    cursor:pointer;
  }
  .toggle-categories:hover {
    color:$green2;
  }

  .category-list {
    display:inline-block;

    .category-link {
      padding-left:10px;
      color:$green1;
      font-weight:bold;
      text-transform:uppercase;
      font-size:12px;
      cursor:pointer;
    }
    .category-link:hover {
      color:$green2;
    }
  }
}
