.home {
  .hero {
    height:100vh;
    width:100vw;
    background:url(/images/hero_s.jpg) center bottom no-repeat;
    background-size:cover;

    
    .intro {
      position:absolute;
      left:50%;
      top:20%;
      transform:translate(-50%);
      max-width:640px;
      width:90%;

      img {
        width:100%;
      }
    }
  }
}
