.photos {
  padding:5px;
  margin-top:-5px;
  background:$grey1;

  .hero {
    .hero-image-container {
      position:relative;
      width:100%;
      margin:0 auto;
      background-size:contain;
      background-repeat:no-repeat;
      background-position:center top;
      
      .hero-image {
        visibility:hidden;
        width:100%;
        max-height:80vh;
      }
    }
  }

  .description {
    color:$grey4;
    text-align:center;
    padding:10px 0;
    font-size:13px;
  }
}
