.posts {
  margin:0;
  padding:5px;
  padding-top:40px;

  .post {
    padding:5px 0;
    white-space:nowrap;

    .post-wrapper {
      display:inline-flex;
      .index {
        display:inline-block;
        color:$grey5;
        font-size:16px;
        width:25px;
        padding-right:10px;
        text-align:right;
        vertical-align:top;
        cursor:default;
      }

      .content {
        display:inline-block;
        vertical-align:middle;
        white-space:normal;      

        .heading {
          .title {
            color:$grey2;

            &:hover {
              color:$blue1;
            }
          }
          .host {
            font-size:13px;
            color:$grey3;
            a {
              color:$grey2;

              &:hover {
                color:$blue1;
              }
            }
          }
        }
        .meta {
          .rating {
            font-size:11px;
            color:$grey4;
          }
          .signature {
            font-size:13px;
            color:$grey3;
          }
        }
      }
    }
  }
}

.categories {
  padding:10px;
  margin:0 20px;
  border-bottom:1px solid $grey5;
  position:relative;

  .toggle-categories {
    color: $green1;
    font-weight:bold;
    text-transform:uppercase;
    font-size:12px;
    cursor:pointer;
  }
  .toggle-categories:hover {
    color:$green2;
  }

  .category-list {
    display:none;

    .category-link {
      padding-left:10px;
      color:$green1;
      font-weight:bold;
      text-transform:uppercase;
      font-size:12px;
      cursor:pointer;
    }
    .category-link:hover {
      color:$green2;
    }
  }
}


.pagination {
  text-align:center;
  padding:5px 0;
  a {
    font-size:13px;
    color:$grey3;
  }
}
