.store {
  .product {
    .feature-image {
      img {
        width:100%;
      }
    }
    .heading {
      padding:10px 0;
      .title {
        display:inline-block;
        margin:0;
      }
      .price {
        display:inline-block;
        color:$grey4;
        margin:0 5px;
      }
    }
    .info {}
  }
}
