.videos {
  padding-top:40px;
  height:100vh;
  display:flex;

  .video-hero {
    padding-bottom:5px;
    max-width:1080px;
    margin:0 auto;
  }
  .video {
    .video-info {
      padding:5px 0;
      .title {
        display:block;
        color:$grey2;
        font-size:14px;
        font-weight:bold;
      }
      .location {
        color:$grey4;
        font-size:12px;
      }
    }
  }

  .video-player {
    flex:1;
    margin:5px;
    height:calc(100% - 10px);
    
    .video-info {
      .title {
      }
      .location {
        color:$grey4;
      }
      .description {}
    }
  }
  .video-list {
    flex:0 0 300px;
    margin:5px;
    height:calc(100% - 10px);
    overflow:scroll;

    .video {
      background:white;
      margin-bottom:10px;
      box-sizing:border-box;

      img {
        width:300px;
      }
    }
  }
}
