.videos {
  padding-top:40px;
  height:100vh;
  display:flex;

  .video-player {
    flex:1;
    margin:5px;
    height:calc(100% - 10px);
    overflow:auto;
    
    .video-info {
      .title {
      }
      .location {
        color:$grey4;
      }
      .description {}
    }
  }
  .video-list {
    flex:0 0 300px;
    margin:5px;
    height:calc(100% - 10px);
    overflow:auto;

    .video {
      background:white;
      margin-bottom:10px;
      box-sizing:border-box;

      img {
        width:300px;
      }
      .video-info {
        padding:5px 0;
        .title {
          display:block;
          color:$grey2;
          font-size:14px;
          font-weight:bold;
        }
        .location {
          color:$grey4;
          font-size:12px;
        }
      }
    }
  }
}
